body {
    position: relative;
    margin: 0;
    padding: 20px;
}
h1{
    color: grey;
    text-align: center;
}
.Thing {
    border: 5px solid;
    position: absolute;
    top: 60px; 
    right: 20px;
    text-align: left;
    background: greenyellow;
    color: rgb(172, 0, 23);
}
.favorite {
    margin: 0;
    font-size: 1.6em;
    color: #000;
}
.Thing ul {
    margin-top: 5px;
    padding-left: 20px; /* Tạo khoảng trống cho dấu chấm đầu dòng */
}